/* Chrome, Safari, Edge */
.inputCustomCal::-webkit-outer-spin-button,
.inputCustomCal::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
.inputCustomCal {
  -moz-appearance: textfield;
}

.inputCustomCal {
  text-align: right;
}

.inputCustomCal {
  width: 100%;
  border: 1px solid transparent;
  font-size: 45px;
}

.inputCustomCal:focus {
  outline: none;
}

.tableHistory {
  position: absolute;
  top: 30px;
  z-index: 9999;
  background: #FFFFFF;
  width: 220px;
  height: 250px;
  border: 1px solid #aaa;
  border-radius: 4px;
  overflow: auto;
}

.tableHistory::-webkit-scrollbar {
  width: 0px;
}